.button {
    -fx-font-weight: bold;
}
.d:hover{
    -fx-border-color: #990099;
    -fx-border-width: 0px 0px 3px 0px;
}
.p:hover{
    -fx-border-color: #009966;
    -fx-border-width: 0px 0px 3px 0px;
}
.r:hover{
    -fx-border-color: #cc0033;
    -fx-border-width: 0px 0px 3px 0px;
}
.h:hover{
    -fx-background-color: #f8ecc2;
}
